button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.star-rating {
  display: flex;
  justify-content: center;
}

.star {
  font-size: 24px;
}

.on {
  color: orange;
}
.off {
  color: #ccc;
}